## Importing libraries

In [90]:
import pandas as pd
import numpy as np
import scipy
from math import sqrt
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import os

Estimators: regressors

In [91]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

Estimators: classifiers

In [92]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

Metrics:

In [93]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import max_error
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

Cross-validation:

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
datafilenamepath = "C:\\Users\\edidd\\Documents\\Ubiqum\\Data Analytics Course\\Module_III_Wifi\\Data2\\"

## Data pre-processing

Data transformation selected is the power transformation with n=5.

Model for predicting buildings is 5NN with default distance metric.

## Building 0

### Importing pre-processed data

In [7]:
train_b0_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b0_n4_mean.csv")

In [8]:
train_b0_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b0_n5_mean.csv")

In [9]:
val_b0_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b0_n4.csv")

In [10]:
val_b0_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b0_n5.csv")

### Merging train and validation

In [11]:
trainval_b0_n4 = pd.concat([train_b0_n4, val_b0_n4], axis = 0)

In [15]:
trainval_b0_n5 = pd.concat([train_b0_n5, val_b0_n5], axis = 0)

## Modeling n = 5

### Splitting train and test

In [185]:
train, test = train_test_split(trainval_b0_n5, test_size=0.20, random_state=13)

In [186]:
train.shape

(636, 529)

In [187]:
test.shape

(159, 529)

### Features and dependent variables

In [188]:
features = train.iloc[:,:520]

In [189]:
dependentlist_r = [[train["LONGITUDE"], test["LONGITUDE"]], 
                   [train["LATITUDE"], test["LATITUDE"]]]

In [190]:
dependentlist_c = [[train["BUILDINGID"], test["BUILDINGID"]], 
                   [train["FLOOR"], test["FLOOR"]]]

In [191]:
test_features = test.iloc[:,:520]

### Modeling and predicting

### Hyper-parameter selection: metric

In [52]:
knn_r = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [53]:
knn_c = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [54]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

In [55]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

#### Regression

In [42]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [56]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [57]:
acc_knn_n5_df

          BUILDINGID   FLOORID
euclidean          1  0.962264
manhattan          1  0.968553
chebyshev          1  0.962264
minkowski          1  0.962264

In [43]:
mae_knn_n5_df

          LONGITUDE LATITUDE
euclidean   3.87021   3.3309
manhattan   3.96116  3.27888
chebyshev   4.71056  3.94115
minkowski   3.87021   3.3309

### Hyper-parameter selection: weight

### KNN

In [58]:
knn_r = ["uniform", "distance"]

In [59]:
knn_c = ["uniform", "distance"]

In [60]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["uniform", "distance"])

In [61]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["uniform", "distance"])

#### Regression

In [49]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= j, metric = "euclidean", n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [63]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= j, metric = "manhattan", n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [64]:
acc_knn_n5_df

         BUILDINGID   FLOORID
uniform           1  0.962264
distance          1  0.968553

In [50]:
mae_knn_n5_df

         LONGITUDE LATITUDE
uniform    3.96759  3.40511
distance   3.87021   3.3309

### RF

In [101]:
rf_r = [100, 200, 300, 400, 500]

In [113]:
rf_c = [250, 275, 300, 325, 350]

In [114]:
mae_rf_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["100", "200", "300", "400", "500"])

In [115]:
acc_rf_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["250", "275", "300", "325", "350"])

#### Regression

In [109]:
m = 0
k = 0
for i in dependentlist_r:
    for j in rf_r:
        modelRFC = RandomForestRegressor(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        mae_rf_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [125]:
m = 0
k = 0
for i in dependentlist_c:
    for j in rf_c:
        modelRFC = RandomForestClassifier(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        acc_rf_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [126]:
acc_rf_n5_df

    BUILDINGID   FLOORID
250          1  0.962264
275          1  0.968553
300          1  0.968553
325          1  0.962264
350          1  0.962264

In [110]:
mae_rf_n5_df

    LONGITUDE LATITUDE
100   5.15201  4.19235
200   5.24199  4.11053
300    5.2073  4.24492
400   5.18673  4.21028
500   5.22391  4.17458

### Cross-validation of the best models

### Long

In [67]:
features = trainval_b0_n5.iloc[:,:520]
long = trainval_b0_n5["LONGITUDE"]
lat = trainval_b0_n5["LATITUDE"]

In [87]:
modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
cv_long = cross_val_score(modelKNNR, features, long, cv = 10, scoring= "neg_mean_absolute_error")

In [96]:
cv_long = np.mean(abs(cv_long))
cv_long

4.02162028135178

### Floor

### RF

In [194]:
features = trainval_b0_n5.iloc[:,:520]
floor = trainval_b0_n5["FLOOR"]

In [132]:
modelRFC = RandomForestClassifier(n_estimators=288, n_jobs= -1)
cv_floor = cross_val_score(modelRFC, features, floor, cv = 10)

In [133]:
cv_floor = np.mean(abs(cv_floor))
cv_floor

0.9657482975470781

### KNN

In [134]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = "manhattan", n_jobs= -1)

In [135]:
cv_floor_knn = cross_val_score(modelKNNC, features, floor, cv = 10)

In [136]:
cv_floor_knn = np.mean(abs(cv_floor_knn))
cv_floor_knn

0.9734710930442638

In [192]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)

In [195]:
cv_floor_knn_eu = cross_val_score(modelKNNC, features, floor, cv = 10)

In [196]:
cv_floor_knn_eu = np.mean(abs(cv_floor_knn_eu))
cv_floor_knn_eu

0.9648133092442036

## Building 1

### Importing pre-processed data

In [137]:
train_b1_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b1_n4_mean.csv")

In [138]:
train_b1_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b1_n5_mean.csv")

In [139]:
val_b1_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b1_n4.csv")

In [140]:
val_b1_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b1_n5.csv")

### Merging train and validation

In [141]:
trainval_b1_n4 = pd.concat([train_b1_n4, val_b1_n4], axis = 0)

In [142]:
trainval_b1_n5 = pd.concat([train_b1_n5, val_b1_n5], axis = 0)

## Modeling n = 5

### Splitting train and test

In [197]:
train, test = train_test_split(trainval_b1_n5, test_size=0.20, random_state=13)

In [198]:
train.shape

(457, 529)

In [145]:
test.shape

(115, 529)

### Features and dependent variables

In [199]:
features = train.iloc[:,:520]

In [200]:
dependentlist_r = [[train["LONGITUDE"], test["LONGITUDE"]], 
                   [train["LATITUDE"], test["LATITUDE"]]]

In [201]:
dependentlist_c = [[train["BUILDINGID"], test["BUILDINGID"]], 
                   [train["FLOOR"], test["FLOOR"]]]

In [202]:
test_features = test.iloc[:,:520]

### Modeling and predicting

### Hyper-parameter selection: metric

In [150]:
knn_r = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [151]:
knn_c = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [152]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

In [153]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

#### Regression

In [154]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [155]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [156]:
acc_knn_n5_df

          BUILDINGID   FLOORID
euclidean          1  0.947826
manhattan          1   0.93913
chebyshev          1  0.947826
minkowski          1  0.947826

In [157]:
mae_knn_n5_df

          LONGITUDE LATITUDE
euclidean   6.90633  5.38516
manhattan   6.89006  5.43614
chebyshev   6.95363  5.67944
minkowski   6.90633  5.38516

### Hyper-parameter selection: weight

In [158]:
knn_r = ["uniform", "distance"]

In [159]:
knn_c = ["uniform", "distance"]

In [160]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["uniform", "distance"])

In [161]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["uniform", "distance"])

#### Regression

In [162]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= j, metric = "euclidean", n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [164]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= j, metric = "euclidean", n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [165]:
acc_knn_n5_df

         BUILDINGID   FLOORID
uniform           1  0.947826
distance          1  0.947826

In [166]:
mae_knn_n5_df

         LONGITUDE LATITUDE
uniform    7.02398  5.48566
distance   6.90633  5.38516

## RF

In [175]:
rf_r = [100, 200, 300, 400, 500]

In [176]:
rf_c = [100, 200, 300, 400, 500]

In [177]:
mae_rf_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["100", "200", "300", "400", "500"])

In [178]:
acc_rf_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["100", "200", "300", "400", "500"])

#### Regression

In [171]:
m = 0
k = 0
for i in dependentlist_r:
    for j in rf_r:
        modelRFC = RandomForestRegressor(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        mae_rf_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [179]:
m = 0
k = 0
for i in dependentlist_c:
    for j in rf_c:
        modelRFC = RandomForestClassifier(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        acc_rf_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [180]:
acc_rf_n5_df

    BUILDINGID   FLOORID
100          1  0.930435
200          1   0.93913
300          1  0.930435
400          1  0.930435
500          1  0.930435

In [174]:
mae_rf_n5_df

    LONGITUDE LATITUDE
100   7.45627  5.98201
200   7.43471  6.01219
300   7.55806  5.92971
400   7.57896  5.88737
500   7.58396  5.89874

### Cross-validation the best models

### Long

In [203]:
features = trainval_b1_n5.iloc[:,:520]
long = trainval_b1_n5["LONGITUDE"]
lat = trainval_b1_n5["LATITUDE"]

In [204]:
modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
cv_long = cross_val_score(modelKNNR, features, long, cv = 10, scoring= "neg_mean_absolute_error")

In [205]:
cv_long = np.mean(abs(cv_long))
cv_long

8.368751808578388

### Floor

### RF

In [206]:
features = trainval_b1_n5.iloc[:,:520]
floor = trainval_b1_n5["FLOOR"]

In [207]:
modelRFC = RandomForestClassifier(n_estimators=288, n_jobs= -1)
cv_floor = cross_val_score(modelRFC, features, floor, cv = 10)

In [208]:
cv_floor = np.mean(abs(cv_floor))
cv_floor

0.8816023894282223

### KNN

In [215]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)

In [216]:
cv_floor_knn = cross_val_score(modelKNNC, features, floor, cv = 10)

In [217]:
cv_floor_knn = np.mean(abs(cv_floor_knn))
cv_floor_knn

0.9033426567587876

## Building 2

### Importing pre-processed data

In [218]:
train_b2_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b2_n4_mean.csv")

In [219]:
train_b2_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/train_b2_n5_mean.csv")

In [220]:
val_b2_n4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b2_n4.csv")

In [221]:
val_b2_n5 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data2/val_b2_n5.csv")

### Merging train and validation

In [222]:
trainval_b2_n4 = pd.concat([train_b2_n4, val_b2_n4], axis = 0)

In [223]:
trainval_b2_n5 = pd.concat([train_b2_n5, val_b2_n5], axis = 0)

## Modeling n = 4

### Splitting train and test

In [224]:
train, test = train_test_split(trainval_b2_n5, test_size=0.20, random_state=13)

In [225]:
train.shape

(541, 529)

In [226]:
test.shape

(136, 529)

### Features and dependent variables

In [227]:
features = train.iloc[:,:520]

In [228]:
dependentlist_r = [[train["LONGITUDE"], test["LONGITUDE"]], 
                   [train["LATITUDE"], test["LATITUDE"]]]

In [229]:
dependentlist_c = [[train["BUILDINGID"], test["BUILDINGID"]], 
                   [train["FLOOR"], test["FLOOR"]]]

In [230]:
test_features = test.iloc[:,:520]

### Modeling and predicting

### Hyper-parameter selection: metric

In [233]:
knn_r = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [234]:
knn_c = ["euclidean", "manhattan", "chebyshev", "minkowski"]

In [235]:
mae_knn_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

In [236]:
acc_knn_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["euclidean", "manhattan", "chebyshev", "minkowski"])

#### Regression

In [237]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [238]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = j, p = 2, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [240]:
acc_knn_n4_df

          BUILDINGID   FLOORID
euclidean          1         1
manhattan          1         1
chebyshev          1  0.977941
minkowski          1         1

In [241]:
mae_knn_n4_df

          LONGITUDE LATITUDE
euclidean   5.17855  4.61796
manhattan   4.90961  4.50187
chebyshev   7.82604  6.55348
minkowski   5.17855  4.61796

### Hyper-parameter selection: weight

In [242]:
knn_r = ["uniform", "distance"]

In [244]:
knn_c = ["uniform", "distance"]

In [245]:
mae_knn_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["uniform", "distance"])

In [246]:
acc_knn_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["uniform", "distance"])

#### Regression

In [247]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= j, metric = "euclidean", n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(test_features)
        mae_knn_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [248]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= j, metric = "euclidean", n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(test_features)
        acc_knn_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [249]:
acc_knn_n4_df

          BUILDINGID  FLOORID
uniform            1        1
distance           1        1

In [250]:
mae_knn_n4_df

         LONGITUDE LATITUDE
uniform    5.38222  4.78718
distance   5.17855  4.61796

## RF

In [251]:
rf_r = [100, 200, 300, 400, 500]

In [252]:
rf_c = [100, 200, 300, 400, 500]

In [256]:
mae_rf_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["100", "200", "300", "400", "500"])

In [257]:
acc_rf_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["100", "200", "300", "400", "500"])

#### Regression

In [258]:
m = 0
k = 0
for i in dependentlist_r:
    for j in rf_r:
        modelRFC = RandomForestRegressor(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        mae_rf_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [259]:
m = 0
k = 0
for i in dependentlist_c:
    for j in rf_c:
        modelRFC = RandomForestClassifier(n_estimators=j, n_jobs= -1)
        modelRFC.fit(features, i[0])
        prediction = modelRFC.predict(test_features)
        acc_rf_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [260]:
acc_rf_n4_df

    BUILDINGID   FLOORID
100          1         1
200          1  0.985294
300          1  0.992647
400          1  0.992647
500          1         1

In [261]:
mae_rf_n4_df

    LONGITUDE LATITUDE
100    7.2028  6.89065
200   7.04661  6.83641
300   6.88874  6.72675
400    7.0275  6.54965
500   7.00855  6.60494

### Cross-validation the best models

### Long

In [262]:
features = trainval_b2_n5.iloc[:,:520]
long = trainval_b2_n5["LONGITUDE"]
lat = trainval_b2_n5["LATITUDE"]

In [263]:
modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
cv_long = cross_val_score(modelKNNR, features, long, cv = 10, scoring= "neg_mean_absolute_error")

In [264]:
cv_long = np.mean(abs(cv_long))
cv_long

8.501057533328716

### Floor

### RF

In [265]:
features = trainval_b2_n5.iloc[:,:520]
floor = trainval_b2_n5["FLOOR"]

In [266]:
modelRFC = RandomForestClassifier(n_estimators=500, n_jobs= -1)
cv_floor = cross_val_score(modelRFC, features, floor, cv = 10)

In [267]:
cv_floor = np.mean(abs(cv_floor))
cv_floor

0.9551868906373239

### KNN

In [268]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)

In [269]:
cv_floor_knn = cross_val_score(modelKNNC, features, floor, cv = 10)

In [270]:
cv_floor_knn = np.mean(abs(cv_floor_knn))
cv_floor_knn

0.9790928474510563

Final model selected for all three buildings and all features is:
5NN with "eucildean" metric and "distance" weighted neighbours.