# Modeling - splitting by building

## Importing libraries

In [75]:
import pandas as pd
import numpy as np
import scipy
from math import sqrt
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import os

Estimators: regressors

In [3]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

Estimators: classifiers

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

Metrics:

In [5]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import max_error
from sklearn.metrics import accuracy_score

Cross-validation:

In [6]:
from sklearn.model_selection import train_test_split

In [77]:
datafilenamepath = "C:\\Users\\edidd\\Documents\\Ubiqum\\Data Analytics Course\\Module_III_Wifi\\Data2\\"

## Data pre-processing

Data transformation selected is the power transformation with n=5.

Model for predicting buildings is 5NN.

## Importing pre-processed data

In [7]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n5.csv", header = 0)

In [8]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n5.csv", header = 0)

In [9]:
trainset.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.028868,0.0,0.0,...,0.0,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

In [10]:
trainset.BUILDINGID.describe()

count    19937.000000
mean         1.212820
std          0.833139
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: BUILDINGID, dtype: float64

## Splitting the data per building

In [13]:
train_0 = trainset.loc[trainset["BUILDINGID"] == 0, :]
train_1 = trainset.loc[trainset["BUILDINGID"] == 1, :]
train_2 = trainset.loc[trainset["BUILDINGID"] == 2, :]

In [ ]:
validation.to_csv (r'C:\Users\edidd\Documents\Ubiqum\Data Analytics Course\Module_III_Wifi\Data\validation_clean_trans_n2.csv', index = None, header=True)

In [50]:
train_2.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7331.748000,4.864767e+06,3,2,247,2,2,23,1371716690
47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7331.400500,4.864768e+06,3,2,248,2,2,23,1371716637
49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7327.492165,4.864767e+06,3,2,247,1,2,23,1371716719
50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7336.700400,4.864764e+06,3,2,246,2,2,23,1371716762
51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7337.394800,4.864763e+06,3,2,245,2,2,23,1371716797

In [22]:
train_0.shape

(5249, 529)

In [23]:
train_1.shape

(5196, 529)

In [24]:
train_2.shape

(9492, 529)

In [16]:
train_0.shape[0] + train_1.shape[0] + train_2.shape[0]

19937

In [18]:
val_0 = validation.loc[validation["BUILDINGID"] == 0, :]
val_1 = validation.loc[validation["BUILDINGID"] == 1, :]
val_2 = validation.loc[validation["BUILDINGID"] == 2, :]

In [52]:
val_2.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7383.867221,4.864840e+06,4,2,0,0,0,13,1381155054
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7374.302080,4.864847e+06,4,2,0,0,0,13,1381155095
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7365.824883,4.864843e+06,4,2,0,0,0,13,1381155138
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7338.807210,4.864825e+06,2,2,0,0,0,12,1380874853
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7379.351683,4.864849e+06,3,2,0,0,0,20,1380874982

In [19]:
val_0.shape

(536, 529)

In [20]:
val_1.shape

(307, 529)

In [21]:
val_2.shape

(268, 529)

## Building 0

### Selecting the data for modeling

In [26]:
features = train_0.iloc[:,:520]

In [27]:
dependentlist_r = [[train_0["LONGITUDE"], val_0["LONGITUDE"]], [train_0["LATITUDE"], val_0["LATITUDE"]]]

In [28]:
dependentlist_c = [[train_0["BUILDINGID"], val_0["BUILDINGID"]], [train_0["FLOOR"], val_0["FLOOR"]]]

In [29]:
val_features = val_0.iloc[:,:520]

### Modeling and predicting

In [30]:
knn_r = [3, 5, 7, 9, 11]

In [31]:
knn_c = [3, 5, 7, 9, 11]

In [32]:
mae_knn_n5_b0_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [33]:
acc_knn_n5_b0_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [34]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_b0_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [35]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_b0_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [36]:
acc_knn_n5_b0_df

     BUILDINGID   FLOORID
3NN           1  0.977612
5NN           1  0.977612
7NN           1  0.977612
9NN           1  0.973881
11NN          1  0.973881

In [37]:
mae_knn_n5_b0_df

     LONGITUDE LATITUDE
3NN    3.90396  3.51722
5NN    3.73846   3.4726
7NN    3.78088  3.44606
9NN    3.80136  3.44079
11NN   3.80364  3.45306

## Building 1

### Selecting the data for modeling

In [38]:
features = train_1.iloc[:,:520]

In [39]:
dependentlist_r = [[train_1["LONGITUDE"], val_1["LONGITUDE"]], [train_1["LATITUDE"], val_1["LATITUDE"]]]

In [40]:
dependentlist_c = [[train_1["BUILDINGID"], val_1["BUILDINGID"]], [train_1["FLOOR"], val_1["FLOOR"]]]

In [41]:
val_features = val_1.iloc[:,:520]

### Modeling and predicting

In [42]:
knn_r = [3, 5, 7, 9, 11]

In [43]:
knn_c = [3, 5, 7, 9, 11]

In [44]:
mae_knn_n5_b1_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [45]:
acc_knn_n5_b1_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [46]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_b1_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [47]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_b1_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [48]:
acc_knn_n5_b1_df

     BUILDINGID   FLOORID
3NN           1  0.934853
5NN           1  0.941368
7NN           1  0.931596
9NN           1  0.934853
11NN          1  0.938111

In [49]:
mae_knn_n5_b1_df

     LONGITUDE LATITUDE
3NN    6.04238  5.65432
5NN    5.62419  5.47194
7NN    5.50444  5.39088
9NN    5.51486  5.29857
11NN   5.56726  5.28322

## Building 2

### Selecting the data for modeling

In [53]:
features = train_2.iloc[:,:520]

In [54]:
dependentlist_r = [[train_2["LONGITUDE"], val_2["LONGITUDE"]], [train_2["LATITUDE"], val_2["LATITUDE"]]]

In [55]:
dependentlist_c = [[train_2["BUILDINGID"], val_2["BUILDINGID"]], [train_2["FLOOR"], val_2["FLOOR"]]]

In [56]:
val_features = val_2.iloc[:,:520]

### Modeling and predicting

In [57]:
knn_r = [3, 5, 7, 9, 11]

In [58]:
knn_c = [3, 5, 7, 9, 11]

In [59]:
mae_knn_n5_b2_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [60]:
acc_knn_n5_b2_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [61]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_b2_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [62]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_b2_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [63]:
acc_knn_n5_b2_df

     BUILDINGID   FLOORID
3NN           1  0.970149
5NN           1  0.973881
7NN           1  0.962687
9NN           1  0.962687
11NN          1  0.966418

In [64]:
mae_knn_n5_b2_df

     LONGITUDE LATITUDE
3NN    6.23255  5.45563
5NN    5.95057  5.27506
7NN    5.91823  5.18457
9NN    5.85289  5.10024
11NN    5.9887  5.16828

## Calculating mean error metrics of all buildings

### MAE of all buildings

In [69]:
mae_b0_long_best = mae_knn_n5_b0_df["LONGITUDE"].min()
mae_b1_long_best = mae_knn_n5_b1_df["LONGITUDE"].min()
mae_b2_long_best = mae_knn_n5_b2_df["LONGITUDE"].min()

mae_b0_lat_best = mae_knn_n5_b0_df["LATITUDE"].min()
mae_b1_lat_best = mae_knn_n5_b1_df["LATITUDE"].min()
mae_b2_lat_best = mae_knn_n5_b2_df["LATITUDE"].min()

acc_b0_floor_best = acc_knn_n5_b0_df["FLOORID"].max()
acc_b1_floor_best = acc_knn_n5_b1_df["FLOORID"].max()
acc_b2_floor_best = acc_knn_n5_b2_df["FLOORID"].max()

In [71]:
mae_long_allbuild = (val_0.shape[0]*mae_b0_long_best + val_1.shape[0]*mae_b1_long_best + 
                     val_2.shape[0]*mae_b2_long_best)/validation.shape[0]

In [72]:
mae_long_allbuild

4.736500518408713

In [73]:
mae_lat_allbuild = (val_0.shape[0]*mae_b0_lat_best + val_1.shape[0]*mae_b1_lat_best + 
                     val_2.shape[0]*mae_b2_lat_best)/validation.shape[0]
mae_lat_allbuild

4.350203909059529

## Looping to select pre-processiong for each building

### Loading all the pre-processed datasets

In [78]:
trainlist = []
for j in range(3):
    temp = []
    for i in range(5):
        datafilename = "train_b" + str(j) + "_n" + str(i + 3) + ".csv"
        temp.append(pd.read_csv(os.path.join(datafilenamepath, datafilename), header = 0))
    trainlist.append(temp)

In [80]:
validationlist = []
for j in range(3):
    temp = []
    for i in range(5):
        datafilename = "val_b" + str(j) + "_n" + str(i + 3) + ".csv"
        temp.append(pd.read_csv(os.path.join(datafilenamepath, datafilename), header = 0))
    validationlist.append(temp)

### Selecting the optimal n

### Building 0 - n0

In [84]:
features = trainlist[0][0].iloc[:,:520]

In [85]:
dependentlist_r = [[trainlist[0][0]["LONGITUDE"], validationlist[0][0]["LONGITUDE"]], 
                   [trainlist[0][0]["LATITUDE"], validationlist[0][0]["LATITUDE"]]]

In [86]:
dependentlist_c = [[trainlist[0][0]["BUILDINGID"], validationlist[0][0]["BUILDINGID"]], 
                   [trainlist[0][0]["FLOOR"], validationlist[0][0]["FLOOR"]]]

In [87]:
val_features = validationlist[0][0].iloc[:,:520]

### Modeling and predicting

In [88]:
knn_r = [3, 5, 7, 9, 11]

In [89]:
knn_c = [3, 5, 7, 9, 11]

In [90]:
mae_knn_n3_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [91]:
acc_knn_n3_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [92]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n3_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [93]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n3_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [94]:
acc_knn_n3_df

     BUILDINGID   FLOORID
3NN           1  0.964552
5NN           1  0.966418
7NN           1  0.966418
9NN           1  0.966418
11NN          1  0.966418

In [95]:
mae_knn_n3_df

     LONGITUDE LATITUDE
3NN    3.90941  3.62801
5NN    3.84422  3.52831
7NN    3.88488  3.50319
9NN    3.90266  3.49165
11NN   3.89818  3.51912

### Building 0 - n1

In [96]:
features = trainlist[0][1].iloc[:,:520]

In [97]:
dependentlist_r = [[trainlist[0][1]["LONGITUDE"], validationlist[0][1]["LONGITUDE"]], 
                   [trainlist[0][1]["LATITUDE"], validationlist[0][1]["LATITUDE"]]]

In [98]:
dependentlist_c = [[trainlist[0][1]["BUILDINGID"], validationlist[0][1]["BUILDINGID"]], 
                   [trainlist[0][1]["FLOOR"], validationlist[0][1]["FLOOR"]]]

In [99]:
val_features = validationlist[0][1].iloc[:,:520]

### Modeling and predicting

In [100]:
knn_r = [3, 5, 7, 9, 11]

In [101]:
knn_c = [3, 5, 7, 9, 11]

In [102]:
mae_knn_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [103]:
acc_knn_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [104]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [105]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [106]:
acc_knn_n4_df

     BUILDINGID   FLOORID
3NN           1  0.972015
5NN           1  0.970149
7NN           1  0.970149
9NN           1  0.970149
11NN          1  0.970149

In [107]:
mae_knn_n4_df

     LONGITUDE LATITUDE
3NN    3.82896  3.47486
5NN    3.79462  3.42273
7NN    3.77017  3.42793
9NN    3.81038  3.44183
11NN   3.85243  3.46795

### Building 0 - n2

In [108]:
features = trainlist[0][2].iloc[:,:520]

In [109]:
dependentlist_r = [[trainlist[0][2]["LONGITUDE"], validationlist[0][2]["LONGITUDE"]], 
                   [trainlist[0][2]["LATITUDE"], validationlist[0][2]["LATITUDE"]]]

In [110]:
dependentlist_c = [[trainlist[0][2]["BUILDINGID"], validationlist[0][2]["BUILDINGID"]], 
                   [trainlist[0][2]["FLOOR"], validationlist[0][2]["FLOOR"]]]

In [111]:
val_features = validationlist[0][2].iloc[:,:520]

### Modeling and predicting

In [112]:
knn_r = [3, 5, 7, 9, 11]

In [113]:
knn_c = [3, 5, 7, 9, 11]

In [114]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [115]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [116]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [117]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [118]:
acc_knn_n5_df

     BUILDINGID   FLOORID
3NN           1  0.977612
5NN           1  0.977612
7NN           1  0.977612
9NN           1  0.973881
11NN          1  0.973881

In [119]:
mae_knn_n5_df

     LONGITUDE LATITUDE
3NN    3.90396  3.51722
5NN    3.73846   3.4726
7NN    3.78088  3.44606
9NN    3.80136  3.44079
11NN   3.80364  3.45306

### Building 0 - n3

In [120]:
features = trainlist[0][3].iloc[:,:520]

In [121]:
dependentlist_r = [[trainlist[0][3]["LONGITUDE"], validationlist[0][3]["LONGITUDE"]], 
                   [trainlist[0][3]["LATITUDE"], validationlist[0][3]["LATITUDE"]]]

In [122]:
dependentlist_c = [[trainlist[0][3]["BUILDINGID"], validationlist[0][3]["BUILDINGID"]], 
                   [trainlist[0][3]["FLOOR"], validationlist[0][3]["FLOOR"]]]

In [123]:
val_features = validationlist[0][3].iloc[:,:520]

### Modeling and predicting

In [124]:
knn_r = [3, 5, 7, 9, 11]

In [125]:
knn_c = [3, 5, 7, 9, 11]

In [126]:
mae_knn_n6_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [127]:
acc_knn_n6_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [128]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n6_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [129]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n6_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [130]:
acc_knn_n6_df

     BUILDINGID   FLOORID
3NN           1  0.973881
5NN           1  0.973881
7NN           1  0.975746
9NN           1  0.972015
11NN          1  0.972015

In [131]:
mae_knn_n6_df

     LONGITUDE LATITUDE
3NN    3.94208  3.57939
5NN    3.93139  3.55562
7NN    3.92592  3.55424
9NN    3.96936  3.57601
11NN   4.00645  3.56157

In [134]:
acc_b0 = pd.concat([acc_knn_n3_df, acc_knn_n4_df, acc_knn_n5_df, acc_knn_n6_df], axis = 1)
acc_b0.max()

BUILDINGID    1.000000
FLOORID       0.966418
BUILDINGID    1.000000
FLOORID       0.972015
BUILDINGID    1.000000
FLOORID       0.977612
BUILDINGID    1.000000
FLOORID       0.975746
dtype: float64

In [135]:
mae_b0 = pd.concat([mae_knn_n3_df, mae_knn_n4_df, mae_knn_n5_df, mae_knn_n6_df], axis = 1)
mae_b0.min()

LONGITUDE    3.844223
LATITUDE     3.491649
LONGITUDE    3.770167
LATITUDE     3.422726
LONGITUDE    3.738463
LATITUDE     3.440791
LONGITUDE    3.925923
LATITUDE     3.554236
dtype: float64

### Building 1 - n0

In [136]:
features = trainlist[1][0].iloc[:,:520]

In [137]:
dependentlist_r = [[trainlist[1][0]["LONGITUDE"], validationlist[1][0]["LONGITUDE"]], 
                   [trainlist[1][0]["LATITUDE"], validationlist[1][0]["LATITUDE"]]]

In [138]:
dependentlist_c = [[trainlist[1][0]["BUILDINGID"], validationlist[1][0]["BUILDINGID"]], 
                   [trainlist[1][0]["FLOOR"], validationlist[1][0]["FLOOR"]]]

In [139]:
val_features = validationlist[1][0].iloc[:,:520]

### Modeling and predicting

In [140]:
knn_r = [3, 5, 7, 9, 11]

In [141]:
knn_c = [3, 5, 7, 9, 11]

In [142]:
mae_knn_n3_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [143]:
acc_knn_n3_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [144]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n3_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [145]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n3_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [146]:
acc_knn_n3_df

     BUILDINGID   FLOORID
3NN           1  0.934853
5NN           1  0.934853
7NN           1  0.934853
9NN           1  0.938111
11NN          1  0.934853

In [147]:
mae_knn_n3_df

     LONGITUDE LATITUDE
3NN    7.05377  6.15592
5NN    6.81747  5.93705
7NN    6.69535  5.89173
9NN    6.63034  5.94882
11NN   6.68385  5.78605

### Building 1 - n1

In [148]:
features = trainlist[1][1].iloc[:,:520]

In [149]:
dependentlist_r = [[trainlist[1][1]["LONGITUDE"], validationlist[1][1]["LONGITUDE"]], 
                   [trainlist[1][1]["LATITUDE"], validationlist[1][1]["LATITUDE"]]]

In [150]:
dependentlist_c = [[trainlist[1][1]["BUILDINGID"], validationlist[1][1]["BUILDINGID"]], 
                   [trainlist[1][1]["FLOOR"], validationlist[1][1]["FLOOR"]]]

In [151]:
val_features = validationlist[1][1].iloc[:,:520]

### Modeling and predicting

In [152]:
knn_r = [3, 5, 7, 9, 11]

In [153]:
knn_c = [3, 5, 7, 9, 11]

In [154]:
mae_knn_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [155]:
acc_knn_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [156]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [157]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [158]:
acc_knn_n4_df

     BUILDINGID   FLOORID
3NN           1  0.931596
5NN           1  0.938111
7NN           1  0.934853
9NN           1  0.931596
11NN          1  0.938111

In [159]:
mae_knn_n4_df

     LONGITUDE LATITUDE
3NN    6.11088  5.67973
5NN     6.0022  5.64702
7NN    6.11699  5.65413
9NN    6.11993  5.63001
11NN   6.20237   5.5551

### Building 1 - n2

In [160]:
features = trainlist[1][2].iloc[:,:520]

In [161]:
dependentlist_r = [[trainlist[1][2]["LONGITUDE"], validationlist[1][2]["LONGITUDE"]], 
                   [trainlist[1][2]["LATITUDE"], validationlist[1][2]["LATITUDE"]]]

In [162]:
dependentlist_c = [[trainlist[1][2]["BUILDINGID"], validationlist[1][2]["BUILDINGID"]], 
                   [trainlist[1][2]["FLOOR"], validationlist[1][2]["FLOOR"]]]

In [163]:
val_features = validationlist[1][2].iloc[:,:520]

### Modeling and predicting

In [164]:
knn_r = [3, 5, 7, 9, 11]

In [165]:
knn_c = [3, 5, 7, 9, 11]

In [166]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [167]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [168]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [169]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [170]:
acc_knn_n5_df

     BUILDINGID   FLOORID
3NN           1  0.934853
5NN           1  0.941368
7NN           1  0.931596
9NN           1  0.934853
11NN          1  0.938111

In [171]:
mae_knn_n5_df

     LONGITUDE LATITUDE
3NN    6.04238  5.65432
5NN    5.62419  5.47194
7NN    5.50444  5.39088
9NN    5.51486  5.29857
11NN   5.56726  5.28322

### Building 1 - n3

In [172]:
features = trainlist[1][3].iloc[:,:520]

In [173]:
dependentlist_r = [[trainlist[1][3]["LONGITUDE"], validationlist[1][3]["LONGITUDE"]], 
                   [trainlist[1][3]["LATITUDE"], validationlist[1][3]["LATITUDE"]]]

In [174]:
dependentlist_c = [[trainlist[1][3]["BUILDINGID"], validationlist[1][3]["BUILDINGID"]], 
                   [trainlist[1][3]["FLOOR"], validationlist[1][3]["FLOOR"]]]

In [175]:
val_features = validationlist[1][3].iloc[:,:520]

### Modeling and predicting

In [176]:
knn_r = [3, 5, 7, 9, 11]

In [177]:
knn_c = [3, 5, 7, 9, 11]

In [178]:
mae_knn_n6_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [179]:
acc_knn_n6_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [180]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n6_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [181]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n6_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [182]:
acc_knn_n6_df

     BUILDINGID   FLOORID
3NN           1  0.889251
5NN           1  0.905537
7NN           1   0.90228
9NN           1  0.912052
11NN          1  0.908795

In [183]:
mae_knn_n6_df

     LONGITUDE LATITUDE
3NN    5.98148   5.9516
5NN    5.77053  5.81522
7NN    5.68919  5.73949
9NN    5.59373  5.62524
11NN   5.50912  5.56316

In [184]:
acc_b1 = pd.concat([acc_knn_n3_df, acc_knn_n4_df, acc_knn_n5_df, acc_knn_n6_df], axis = 1)
acc_b1.max()

BUILDINGID    1.000000
FLOORID       0.938111
BUILDINGID    1.000000
FLOORID       0.938111
BUILDINGID    1.000000
FLOORID       0.941368
BUILDINGID    1.000000
FLOORID       0.912052
dtype: float64

In [185]:
mae_b1 = pd.concat([mae_knn_n3_df, mae_knn_n4_df, mae_knn_n5_df, mae_knn_n6_df], axis = 1)
mae_b1.min()

LONGITUDE    6.630336
LATITUDE     5.786051
LONGITUDE    6.002203
LATITUDE     5.555098
LONGITUDE    5.504436
LATITUDE     5.283215
LONGITUDE    5.509123
LATITUDE     5.563158
dtype: float64

### Building 2 - n0

In [186]:
features = trainlist[2][0].iloc[:,:520]

In [187]:
dependentlist_r = [[trainlist[2][0]["LONGITUDE"], validationlist[2][0]["LONGITUDE"]], 
                   [trainlist[2][0]["LATITUDE"], validationlist[2][0]["LATITUDE"]]]

In [188]:
dependentlist_c = [[trainlist[2][0]["BUILDINGID"], validationlist[2][0]["BUILDINGID"]], 
                   [trainlist[2][0]["FLOOR"], validationlist[2][0]["FLOOR"]]]

In [189]:
val_features = validationlist[2][0].iloc[:,:520]

### Modeling and predicting

In [190]:
knn_r = [3, 5, 7, 9, 11]

In [191]:
knn_c = [3, 5, 7, 9, 11]

In [192]:
mae_knn_n3_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [193]:
acc_knn_n3_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [194]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n3_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [195]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n3_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [196]:
acc_knn_n3_df

     BUILDINGID   FLOORID
3NN           1  0.970149
5NN           1  0.966418
7NN           1  0.966418
9NN           1  0.966418
11NN          1  0.966418

In [197]:
mae_knn_n3_df

     LONGITUDE LATITUDE
3NN    6.04609  5.79985
5NN    6.02856   5.6992
7NN    6.10511  5.63877
9NN    6.13586  5.54714
11NN    6.0846  5.59413

### Building 2 - n1

In [198]:
features = trainlist[2][1].iloc[:,:520]

In [199]:
dependentlist_r = [[trainlist[2][1]["LONGITUDE"], validationlist[2][1]["LONGITUDE"]], 
                   [trainlist[2][1]["LATITUDE"], validationlist[2][1]["LATITUDE"]]]

In [200]:
dependentlist_c = [[trainlist[2][1]["BUILDINGID"], validationlist[2][1]["BUILDINGID"]], 
                   [trainlist[2][1]["FLOOR"], validationlist[2][1]["FLOOR"]]]

In [201]:
val_features = validationlist[2][1].iloc[:,:520]

### Modeling and predicting

In [202]:
knn_r = [3, 5, 7, 9, 11]

In [203]:
knn_c = [3, 5, 7, 9, 11]

In [204]:
mae_knn_n4_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [205]:
acc_knn_n4_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [206]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n4_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [207]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n4_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [208]:
acc_knn_n4_df

     BUILDINGID   FLOORID
3NN           1  0.977612
5NN           1  0.977612
7NN           1  0.977612
9NN           1  0.977612
11NN          1  0.970149

In [209]:
mae_knn_n4_df

     LONGITUDE LATITUDE
3NN    5.78997  5.19795
5NN    5.75967  5.22614
7NN     5.6408  5.17471
9NN     5.6578  5.23449
11NN   5.71197  5.24466

### Building 2 - n2

In [210]:
features = trainlist[2][2].iloc[:,:520]

In [211]:
dependentlist_r = [[trainlist[2][2]["LONGITUDE"], validationlist[2][2]["LONGITUDE"]], 
                   [trainlist[2][2]["LATITUDE"], validationlist[2][2]["LATITUDE"]]]

In [212]:
dependentlist_c = [[trainlist[2][2]["BUILDINGID"], validationlist[2][2]["BUILDINGID"]], 
                   [trainlist[2][2]["FLOOR"], validationlist[2][2]["FLOOR"]]]

In [213]:
val_features = validationlist[2][2].iloc[:,:520]

### Modeling and predicting

In [214]:
knn_r = [3, 5, 7, 9, 11]

In [215]:
knn_c = [3, 5, 7, 9, 11]

In [216]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [217]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [218]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [219]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [220]:
acc_knn_n5_df

     BUILDINGID   FLOORID
3NN           1  0.970149
5NN           1  0.973881
7NN           1  0.962687
9NN           1  0.962687
11NN          1  0.966418

In [221]:
mae_knn_n5_df

     LONGITUDE LATITUDE
3NN    6.23255  5.45563
5NN    5.95057  5.27506
7NN    5.91823  5.18457
9NN    5.85289  5.10024
11NN    5.9887  5.16828

### Building 2 - n3

In [222]:
features = trainlist[2][3].iloc[:,:520]

In [223]:
dependentlist_r = [[trainlist[2][3]["LONGITUDE"], validationlist[2][3]["LONGITUDE"]], 
                   [trainlist[2][3]["LATITUDE"], validationlist[2][3]["LATITUDE"]]]

In [224]:
dependentlist_c = [[trainlist[2][3]["BUILDINGID"], validationlist[2][3]["BUILDINGID"]], 
                   [trainlist[2][3]["FLOOR"], validationlist[2][3]["FLOOR"]]]

In [225]:
val_features = validationlist[2][3].iloc[:,:520]

### Modeling and predicting

In [226]:
knn_r = [3, 5, 7, 9, 11]

In [227]:
knn_c = [3, 5, 7, 9, 11]

In [228]:
mae_knn_n6_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [229]:
acc_knn_n6_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [230]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n6_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [231]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n6_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [232]:
acc_knn_n6_df

     BUILDINGID   FLOORID
3NN           1  0.962687
5NN           1  0.958955
7NN           1  0.962687
9NN           1  0.958955
11NN          1   0.94403

In [233]:
mae_knn_n6_df

     LONGITUDE LATITUDE
3NN    6.64895  5.65773
5NN     6.5423  5.57913
7NN    6.41521  5.46467
9NN    6.37374  5.45333
11NN   6.39822  5.45933

In [234]:
acc_b2 = pd.concat([acc_knn_n3_df, acc_knn_n4_df, acc_knn_n5_df, acc_knn_n6_df], axis = 1)
acc_b2.max()

BUILDINGID    1.000000
FLOORID       0.970149
BUILDINGID    1.000000
FLOORID       0.977612
BUILDINGID    1.000000
FLOORID       0.973881
BUILDINGID    1.000000
FLOORID       0.962687
dtype: float64

In [235]:
mae_b2 = pd.concat([mae_knn_n3_df, mae_knn_n4_df, mae_knn_n5_df, mae_knn_n6_df], axis = 1)
mae_b2.min()

LONGITUDE    6.028556
LATITUDE     5.547143
LONGITUDE    5.640801
LATITUDE     5.174708
LONGITUDE    5.852888
LATITUDE     5.100245
LONGITUDE    6.373743
LATITUDE     5.453331
dtype: float64

In [236]:
mae_b0

,LONGITUDE,LATITUDE,LONGITUDE,LATITUDE,LONGITUDE,LATITUDE,LONGITUDE,LATITUDE
3NN,6.04609,5.79985,5.78997,5.19795,6.23255,5.45563,6.64895,5.65773
5NN,6.02856,5.6992,5.75967,5.22614,5.95057,5.27506,6.5423,5.57913
7NN,6.10511,5.63877,5.6408,5.17471,5.91823,5.18457,6.41521,5.46467
9NN,6.13586,5.54714,5.6578,5.23449,5.85289,5.10024,6.37374,5.45333
11NN,6.0846,5.59413,5.71197,5.24466,5.9887,5.16828,6.39822,5.45933