# Modeling - data normalized "share" - different data transform

## Importing libraries

In [2]:
import pandas as pd
import numpy as np
import scipy
from math import sqrt
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

Estimators: regressors

In [3]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

Estimators: classifiers

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

Metrics:

In [5]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import max_error
from sklearn.metrics import accuracy_score

Cross-validation:

In [6]:
from sklearn.model_selection import train_test_split

## Data transformation n=2

### Reading dataset

In [7]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n2.csv", header = 0)

In [9]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n2.csv", header = 0)

### Selecting the data for modeling

In [10]:
features = trainset.iloc[:,:520]

In [11]:
dependentlist_r = [[trainset["LONGITUDE"], validation["LONGITUDE"]], [trainset["LATITUDE"], validation["LATITUDE"]]]

In [12]:
dependentlist_c = [[trainset["BUILDINGID"], validation["BUILDINGID"]], [trainset["FLOOR"], validation["FLOOR"]]]

In [13]:
val_features = validation.iloc[:,:520]

### Regression estimators for LONG and LAT

In [14]:
modelSVRl = SVR(kernel= "linear")

In [15]:
modelSVRg = SVR(kernel= "rbf")

In [16]:
modelRF = RandomForestRegressor()

In [17]:
modelLR = LinearRegression()

In [18]:
model5NN = KNeighborsRegressor(n_neighbors=5, n_jobs= -1)

In [19]:
model3NN = KNeighborsRegressor(n_neighbors=3, n_jobs= -1)

### Clasification estomators for building and floor

In [20]:
modelRFC = RandomForestClassifier(n_estimators=50)

In [21]:
modelGBTC = GradientBoostingClassifier()

In [22]:
model5NNC = KNeighborsClassifier(n_neighbors= 5)

In [23]:
model7NNC = KNeighborsClassifier(n_neighbors= 7)

### Modeling and predicting

In [24]:
modellist_r = [model3NN, model5NN, modelRF, modelSVRl, modelSVRg]

In [25]:
modellist_c = [model5NNC, model7NNC, modelRFC, modelGBTC]

In [27]:
mae_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "RF", "SVRl", "SVRg"])

In [29]:
acc_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=['5NN','7NN','RFC', "GBTC"])

#### Regression

In [41]:
m = 0
k = 0
for i in dependentlist_r:
    for j in modellist_r:
        j.fit(features, i[0])
        prediction = j.predict(val_features)
        mae_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning:

The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning:

The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.

#### Clasification

In [42]:
m = 0
k = 0
for i in dependentlist_c:
    for j in modellist_c:
        j.fit(features, i[0])
        prediction = j.predict(val_features)
        acc_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [43]:
acc_df

     BUILDINGID   FLOORID
5NN    0.993699  0.957696
7NN      0.9955  0.958596
RFC      0.9991  0.946895
GBTC     0.9973  0.932493

In [44]:
mae_df

     LONGITUDE LATITUDE
3NN    5.57854  5.12723
5NN    5.58011  5.14219
RF     9.52025  7.67461
SVRl   43.5136    18.18
SVRg   139.178  72.3699

## Data transformation n=4

### Reading dataset

In [51]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n4.csv", header = 0)

In [52]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n4.csv", header = 0)

### Selecting the data for modeling

In [53]:
features = trainset.iloc[:,:520]

In [54]:
dependentlist_r = [[trainset["LONGITUDE"], validation["LONGITUDE"]], [trainset["LATITUDE"], validation["LATITUDE"]]]

In [55]:
dependentlist_c = [[trainset["BUILDINGID"], validation["BUILDINGID"]], [trainset["FLOOR"], validation["FLOOR"]]]

In [56]:
val_features = validation.iloc[:,:520]

### Regression estimators for LONG and LAT

In [37]:
modelSVRl = SVR(kernel= "linear")

In [38]:
modelSVRg = SVR(kernel= "rbf")

In [39]:
modelRF = RandomForestRegressor()

In [40]:
modelLR = LinearRegression()

In [41]:
model5NN = KNeighborsRegressor(n_neighbors=5, n_jobs= -1)

In [42]:
model3NN = KNeighborsRegressor(n_neighbors=3, n_jobs= -1)

### Clasification estomators for building and floor

In [43]:
modelRFC = RandomForestClassifier(n_estimators=50)

In [44]:
modelGBTC = GradientBoostingClassifier()

In [45]:
model5NNC = KNeighborsClassifier(n_neighbors= 5)

In [46]:
model7NNC = KNeighborsClassifier(n_neighbors= 7)

### Modeling and predicting

In [47]:
modellist_r = [model3NN, model5NN, modelRF, modelSVRl, modelSVRg]

In [48]:
modellist_c = [model5NNC, model7NNC, modelRFC, modelGBTC]

In [49]:
mae_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "RF", "SVRl", "SVRg"])

In [50]:
acc_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=['5NN','7NN','RFC', "GBTC"])

#### Regression

In [65]:
m = 0
k = 0
for i in dependentlist_r:
    for j in modellist_r:
        j.fit(features, i[0])
        prediction = j.predict(val_features)
        mae_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning:

The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.

C:\Users\edison\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning:

The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.

#### Clasification

In [66]:
m = 0
k = 0
for i in dependentlist_c:
    for j in modellist_c:
        j.fit(features, i[0])
        prediction = j.predict(val_features)
        acc_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [69]:
acc_df

     BUILDINGID   FLOORID
5NN      0.9982  0.963096
7NN      0.9982  0.962196
RFC      0.9982  0.941494
GBTC     0.9982  0.918992

In [68]:
mae_df

     LONGITUDE LATITUDE
3NN    4.91903   4.4569
5NN    4.75782  4.37062
RF     8.00555  6.84254
SVRl   48.7971  19.7706
SVRg   139.194  72.4398

## Loop to try different hyper-patameters for KNN

### Data pre-processing n = 4

### Modeling and predicting

In [63]:
knn_r = [3, 5, 7, 9, 11, 13]

In [64]:
knn_c = [3, 5, 7, 9, 11, 13]

In [65]:
mae_knn_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN", "13NN"])

In [66]:
acc_knn_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN", "13NN"])

#### Regression

In [67]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [68]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [69]:
acc_knn_df

     BUILDINGID   FLOORID
3NN      0.9982  0.963096
5NN      0.9982  0.963096
7NN      0.9982  0.962196
9NN      0.9982  0.961296
11NN     0.9973  0.962196
13NN     0.9982  0.961296

In [70]:
mae_knn_df

     LONGITUDE LATITUDE
3NN    4.91903   4.4569
5NN    4.75782  4.37062
7NN    4.78853   4.3875
9NN    4.77704  4.39277
11NN   4.81406  4.39282
13NN    4.8314   4.3769

### Data pre-processing n = 5

### Importing pre-processed data

In [71]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n5.csv", header = 0)

In [72]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n5.csv", header = 0)

### Selecting the data for modeling

In [73]:
features = trainset.iloc[:,:520]

In [74]:
dependentlist_r = [[trainset["LONGITUDE"], validation["LONGITUDE"]], [trainset["LATITUDE"], validation["LATITUDE"]]]

In [75]:
dependentlist_c = [[trainset["BUILDINGID"], validation["BUILDINGID"]], [trainset["FLOOR"], validation["FLOOR"]]]

In [76]:
val_features = validation.iloc[:,:520]

### Modeling and predicting

In [85]:
knn_r = [3, 5, 7, 9, 11]

In [86]:
knn_c = [3, 5, 7, 9, 11]

In [87]:
mae_knn_n5_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [88]:
acc_knn_n5_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [89]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n5_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [90]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n5_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [91]:
acc_knn_n5_df

     BUILDINGID   FLOORID
3NN           1  0.963996
5NN           1  0.966697
7NN           1  0.961296
9NN           1  0.960396
11NN          1  0.962196

In [92]:
mae_knn_n5_df

     LONGITUDE LATITUDE
3NN    5.12287  4.59844
5NN    4.82493  4.42476
7NN    4.78366  4.37189
9NN    4.78528  4.33235
11NN   4.85043   4.3319

## Data pre-processing n = 6

### Importing pre-processed data

In [93]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n6.csv", header = 0)

In [94]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n6.csv", header = 0)

### Selecting the data for modeling

In [95]:
features = trainset.iloc[:,:520]

In [96]:
dependentlist_r = [[trainset["LONGITUDE"], validation["LONGITUDE"]], [trainset["LATITUDE"], validation["LATITUDE"]]]

In [97]:
dependentlist_c = [[trainset["BUILDINGID"], validation["BUILDINGID"]], [trainset["FLOOR"], validation["FLOOR"]]]

In [98]:
val_features = validation.iloc[:,:520]

### Modeling and predicting

In [99]:
knn_r = [3, 5, 7, 9, 11]

In [100]:
knn_c = [3, 5, 7, 9, 11]

In [103]:
mae_knn_n6_df = pd.DataFrame(columns=["LONGITUDE", "LATITUDE"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

In [104]:
acc_knn_n6_df = pd.DataFrame(columns=["BUILDINGID", "FLOORID"], index=["3NN", "5NN", "7NN", "9NN", "11NN"])

#### Regression

In [105]:
m = 0
k = 0
for i in dependentlist_r:
    for j in knn_r:
        modelKNNR = KNeighborsRegressor(n_neighbors = j, n_jobs= -1)
        modelKNNR.fit(features, i[0])
        prediction = modelKNNR.predict(val_features)
        mae_knn_n6_df.iloc[m, k] = mean_absolute_error(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

#### Clasification

In [106]:
m = 0
k = 0
for i in dependentlist_c:
    for j in knn_c:
        modelKNNC = KNeighborsClassifier(n_neighbors= j, n_jobs= -1)
        modelKNNC.fit(features, i[0])
        prediction = modelKNNC.predict(val_features)
        acc_knn_n6_df.iloc[m, k] = accuracy_score(i[1], prediction)
        m = m + 1
    m = 0
    k = k + 1

In [107]:
acc_knn_n6_df

     BUILDINGID   FLOORID
3NN           1  0.947795
5NN      0.9991  0.951395
7NN           1  0.952295
9NN           1  0.952295
11NN          1  0.947795

In [108]:
mae_knn_n6_df

     LONGITUDE LATITUDE
3NN    5.21694  4.75535
5NN    5.14062  4.68537
7NN    5.05999  4.60643
9NN    5.03741  4.57332
11NN   5.04768  4.54873

neighbors = [1, 3, 5, 7, 9, 11]
weights = ["uniform", "distance"]
algorithm = ["ball_tree", "kd_tree", "brute"]
metric = ["euclidean", "manhattan", "chebyshev"]

for i in neigh

modelKNN = KNeighborsRegressor(n_neighbors=5, n_jobs= -1)
(cross_val_score(modelSVR, features, dependent))
modelKNN.fit(features, dependent)
modelKNN.score(features, dependent)
prediction_5nn = modelKNN.predict(val_features)
sqrt(mean_squared_error(prediction_LONG["LONGITUDE"], prediction_LONG["prediction"]))
max_error(prediction_LONG["LONGITUDE"], prediction_LONG["prediction"])
mean_absolute_error(prediction_LONG["LONGITUDE"], prediction_LONG["prediction"])

In [133]:
metric = ["euclidean", "manhattan", "chebyshev"]

In [134]:
type(metric)

list

In [136]:
metric[0]

'euclidean'