## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import os

In [42]:
datafilenamepath = "C:\\Users\\edidd\\Documents\\Ubiqum\\Data Analytics Course\\Module_III_Wifi\\Data2\\"

## Reading original data

In [7]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainingData.csv", header = 0)

In [8]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validationData.csv", header = 0)

## Splitting the data per building

In [9]:
train_0 = trainset.loc[trainset["BUILDINGID"] == 0, :]
train_1 = trainset.loc[trainset["BUILDINGID"] == 1, :]
train_2 = trainset.loc[trainset["BUILDINGID"] == 2, :]

In [10]:
train_2.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
46,100,100,100,100,100,100,100,100,100,100,...,100,-7331.748000,4.864767e+06,3,2,247,2,2,23,1371716690
47,100,100,100,100,100,100,100,100,100,100,...,100,-7331.400500,4.864768e+06,3,2,248,2,2,23,1371716637
49,100,100,100,100,100,100,100,100,100,100,...,100,-7327.492165,4.864767e+06,3,2,247,1,2,23,1371716719
50,100,100,100,100,100,100,100,100,100,100,...,100,-7336.700400,4.864764e+06,3,2,246,2,2,23,1371716762
51,100,100,100,100,100,100,100,100,100,100,...,100,-7337.394800,4.864763e+06,3,2,245,2,2,23,1371716797

In [11]:
train_0.shape

(5249, 529)

In [12]:
train_1.shape

(5196, 529)

In [13]:
train_2.shape

(9492, 529)

In [14]:
train_0.shape[0] + train_1.shape[0] + train_2.shape[0]

19937

In [15]:
val_0 = validation.loc[validation["BUILDINGID"] == 0, :]
val_1 = validation.loc[validation["BUILDINGID"] == 1, :]
val_2 = validation.loc[validation["BUILDINGID"] == 2, :]

In [16]:
val_2.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
1,100,100,100,100,100,100,100,100,100,100,...,100,-7383.867221,4.864840e+06,4,2,0,0,0,13,1381155054
2,100,100,100,100,100,100,100,100,100,100,...,100,-7374.302080,4.864847e+06,4,2,0,0,0,13,1381155095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7365.824883,4.864843e+06,4,2,0,0,0,13,1381155138
5,100,100,100,100,100,100,100,100,100,100,...,100,-7338.807210,4.864825e+06,2,2,0,0,0,12,1380874853
6,100,100,100,100,100,100,100,100,100,100,...,100,-7379.351683,4.864849e+06,3,2,0,0,0,20,1380874982

In [17]:
val_0.shape

(536, 529)

In [18]:
val_1.shape

(307, 529)

In [19]:
val_2.shape

(268, 529)

## Slecting n(opt) for each building

### Transforming datasets for each building

In [26]:
enes = [3, 4, 5, 6, 7]

### Trainingset

In [30]:
trainlist = [train_0, train_1, train_2]

In [33]:
k = 0
#for j in trainlist:
#    for i in enes:
        test = j.copy()
        test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: 10 ** (x/(10*i)), axis = 0 )
        test.iloc[:,:520] = test.iloc[:,:520].replace(10 ** (100/(10*i)), 0)
        test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: x/x.sum(), axis=1)
        test = test.fillna(0)
        datafilename = "train_b" + str(k) + "_n" + str(i) + ".csv"
        test.to_csv (os.path.join(datafilenamepath, datafilename), index = None, header=True)
    k = k + 1

### Validationset

In [39]:
validationlist = [val_0, val_1, val_2]

In [40]:
k = 0
#for j in validationlist:
#    for i in enes:
        test = j.copy()
        test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: 10 ** (x/(10*i)), axis = 0 )
        test.iloc[:,:520] = test.iloc[:,:520].replace(10 ** (100/(10*i)), 0)
        test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: x/x.sum(), axis=1)
        test = test.fillna(0)
        datafilename = "val_b" + str(k) + "_n" + str(i) + ".csv"
        test.to_csv (os.path.join(datafilenamepath, datafilename), index = None, header=True)
    k = k + 1

## Including reference points

### Loading all the pre-processed datasets

In [73]:
trainlist = []
for j in range(3):
    temp = []
    for i in range(5):
        datafilename = "train_b" + str(j) + "_n" + str(i + 3) + ".csv"
        temp.append(pd.read_csv(os.path.join(datafilenamepath, datafilename), header = 0))
    trainlist.append(temp)

In [74]:
validationlist = []
for j in range(3):
    temp = []
    for i in range(5):
        datafilename = "val_b" + str(j) + "_n" + str(i + 3) + ".csv"
        temp.append(pd.read_csv(os.path.join(datafilenamepath, datafilename), header = 0))
    validationlist.append(temp)

In [126]:
trainlist[2][0].head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7331.748000,4.864767e+06,3,2,247,2,2,23,1371716690
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7331.400500,4.864768e+06,3,2,248,2,2,23,1371716637
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7327.492165,4.864767e+06,3,2,247,1,2,23,1371716719
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7336.700400,4.864764e+06,3,2,246,2,2,23,1371716762
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-7337.394800,4.864763e+06,3,2,245,2,2,23,1371716797

### Reducing the number of observations by the mean after data transformation

In [134]:
jo = 0
for j in trainlist:
    io = 0
    for i in j:
        by_ref_point = i.groupby(["LONGITUDE","LATITUDE", "FLOOR"]).mean().reset_index()
        by_ref_point_arr = pd.concat([by_ref_point.iloc[:, 3:523], by_ref_point.iloc[:,:3], by_ref_point.iloc[:, 523:]], 
                                     axis = 1)
        by_ref_point_arr["BUILDINGID"] = by_ref_point_arr.BUILDINGID.apply(int)
        datafilename = "train_b" + str(jo) + "_n" + str(io + 3) + "_mean" + ".csv"
        by_ref_point_arr.to_csv(os.path.join(datafilenamepath, datafilename), index = None, header=True)
        io = io + 1
    jo = jo + 1

## Power transformation and unit norm normalization