## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import scipy
from math import sqrt
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import os

Estimators: regressors

In [2]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

Estimators: classifiers

In [3]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

Metrics:

In [4]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import max_error
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

Cross-validation:

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
datafilenamepath = "C:\\Users\\edidd\\Documents\\Ubiqum\\Data Analytics Course\\Module_III_Wifi\\Data2\\"

## Data pre-processing

Data transformation selected is the power transformation with n=5.

Model for predicting buildings is 5NN with default distance metric.

### Reading csv

In [7]:
testset = pd.read_csv(os.path.join(datafilenamepath, "TEST_DATA.csv"), header = 0)

In [8]:
testset.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,0,0,0,0,0,0,0,15,1385716325
1,100,100,100,100,100,100,100,100,100,100,...,100,0,0,0,0,0,0,0,15,1385716326
2,100,100,100,100,100,100,100,100,100,100,...,100,0,0,0,0,0,0,0,15,1385716326
3,100,100,100,100,100,100,100,100,100,100,...,100,0,0,0,0,0,0,0,15,1385716327
4,100,100,100,100,100,100,100,100,100,100,...,100,0,0,0,0,0,0,0,15,1385716327

## Pre-processing testset

In [24]:
enes = [4, 5]

In [25]:
for i in enes:
    test = testset.copy()
    test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: 10 ** (x/(10*i)), axis = 0 )
    test.iloc[:,:520] = test.iloc[:,:520].replace(10 ** (100/(10*i)), 0)
    test.iloc[:,:520] = test.iloc[:,:520].apply(lambda x: x/x.sum(), axis=1)
    test = test.fillna(0)
    datafilename = "testset" + "_n" + str(i) + ".csv"
    test.to_csv (os.path.join(datafilenamepath, datafilename), index = None, header=True)

### Importing pre-processed data

In [7]:
trainset = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n5.csv", header = 0)

In [8]:
validation = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n5.csv", header = 0)

In [23]:
trainsetn4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/trainset_clean_trans_n4.csv", header = 0)

In [24]:
validationn4 = pd.read_csv("C:/Users/edidd/Documents/Ubiqum/Data Analytics Course/Module_III_Wifi/data/validation_clean_trans_n4.csv", header = 0)

In [25]:
trainvaln4 = pd.concat([trainsetn4, validationn4], axis = 0)

In [26]:
trainval = pd.concat([trainset, validation], axis = 0)

In [27]:
trainval.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.028868,0.0,0.0,...,0.0,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

In [11]:
trainval.shape

(21048, 529)

In [14]:
testset = pd.read_csv(os.path.join(datafilenamepath, "testset_n5.csv"), header = 0)

In [15]:
testsetn4 = pd.read_csv(os.path.join(datafilenamepath, "testset_n4.csv"), header = 0)

In [16]:
testset.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,15,1385716325
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,15,1385716326
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,15,1385716326
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,15,1385716327
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,15,1385716327

In [17]:
testset.shape

(5179, 529)

### Predicting building

In [28]:
features = trainval.iloc[:,:520]

In [29]:
dependentlist_r = [trainval["LONGITUDE"], trainval["LATITUDE"]]

In [30]:
dependentlist_c = [trainval["BUILDINGID"], trainval["FLOOR"]]

In [31]:
test_features = testset.iloc[:,:520]

In [32]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, n_jobs= -1)
modelKNNC.fit(features, dependentlist_c[0])
prediction_building = modelKNNC.predict(test_features)

In [33]:
prediction_building = pd.Series(prediction_building)
prediction_building.describe()

count    5179.000000
mean        0.270516
std         0.515126
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         2.000000
dtype: float64

### Predicting floor

In [34]:
modelKNNC = KNeighborsClassifier(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
modelKNNC.fit(features, dependentlist_c[1])
prediction_floor = modelKNNC.predict(test_features)

In [35]:
prediction_floor = pd.Series(prediction_floor)
prediction_floor.describe()

count    5179.000000
mean        1.223595
std         0.678403
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
dtype: float64

### Prediction LAT

In [36]:
modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
modelKNNR.fit(features, dependentlist_r[1])
prediction_lat = modelKNNR.predict(test_features)

In [37]:
prediction_lat = pd.Series(prediction_lat)
prediction_lat.describe()

count    5.179000e+03
mean     4.864935e+06
std      4.713608e+01
min      4.864756e+06
25%      4.864921e+06
50%      4.864937e+06
75%      4.864970e+06
max      4.865015e+06
dtype: float64

### Prediction LONG

In [40]:
features = trainvaln4.iloc[:,:520]

In [41]:
dependentlist_r = [trainvaln4["LONGITUDE"], trainvaln4["LATITUDE"]]

In [42]:
test_features = testsetn4.iloc[:,:520]

In [43]:
modelKNNR = KNeighborsRegressor(n_neighbors = 5, weights= "distance", metric = "euclidean", n_jobs= -1)
modelKNNR.fit(features, dependentlist_r[0])
prediction_long = modelKNNR.predict(test_features)

In [44]:
prediction_long = pd.Series(prediction_long)
prediction_long.describe()

count    5179.000000
mean    -7601.252983
std        79.489979
min     -7687.734735
25%     -7644.770934
50%     -7636.831723
75%     -7595.286968
max     -7309.629035
dtype: float64

## Submission file

In [45]:
submission5 = pd.concat([prediction_lat, prediction_long, prediction_floor, prediction_building], axis = 1)
submission5 = submission5.rename(columns={0 : "LATITUDE", 1 : "LONGITUDE", 2 : "FLOOR", 3 : "BUILDINGID"})

In [46]:
submission5.head()

       LATITUDE    LONGITUDE  FLOOR  BUILDINGID
0  4.864982e+06 -7594.728376      1           0
1  4.864982e+06 -7597.545934      1           0
2  4.864982e+06 -7597.533643      1           0
3  4.864982e+06 -7594.287013      1           0
4  4.864983e+06 -7595.426762      1           0

In [47]:
trainval.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.028868,0.0,0.0,...,0.0,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

In [48]:
submission5.shape

(5179, 4)

In [49]:
submission5.to_csv(os.path.join(datafilenamepath, "sub5_EG_n4_n5_5nn.csv"), index = None, header=True)

In [50]:
temp = pd.read_csv(os.path.join(datafilenamepath, "sub5_EG_n4_n5_5nn.csv"))
temp.head()

       LATITUDE    LONGITUDE  FLOOR  BUILDINGID
0  4.864982e+06 -7594.728376      1           0
1  4.864982e+06 -7597.545934      1           0
2  4.864982e+06 -7597.533643      1           0
3  4.864982e+06 -7594.287013      1           0
4  4.864983e+06 -7595.426762      1           0

In [63]:
temp.describe()

           LATITUDE    LONGITUDE        FLOOR   BUILDINGID
count  5.179000e+03  5179.000000  5179.000000  5179.000000
mean   4.864935e+06 -7601.115152     1.223595     0.270516
std    4.713608e+01    79.479037     0.678403     0.515126
min    4.864756e+06 -7688.933719     0.000000     0.000000
25%    4.864921e+06 -7644.806392     1.000000     0.000000
50%    4.864937e+06 -7636.920886     1.000000     0.000000
75%    4.864970e+06 -7595.514587     1.000000     0.000000
max    4.865015e+06 -7309.495090     4.000000     2.000000